<main class="main">
  <aside class="main-sidebar">
    <div class="wrapper">

      <img src="/assets/wf-logo.png" alt="Wallet Friends" class="wf-logo">

      <form class="form-monthly-payment" [formGroup]="paymentForm" (ngSubmit)="onSaveMonthlyPayment()" autocomplete="off">
        <label for="monthly-payment">Monthly Payment</label>

        <div class="fields">
          <input type="text"
            id="monthly-payment"
            placeholder="ie. 500.00"
            formControlName="amount" />
          <button type="submit" [disabled]="paymentForm.pristine">Save</button>
        </div>
      </form>

      <p *ngIf="!(debtList$ | async).length">You don't have any debt items, please add some to get started.</p>

      <div *ngIf="(debtList$ | async).length">
        <p>Total debt: {{totalDebtAmount$ | async | currency:'USD':true}}.</p>
        <p><strong>You'll be debt free {{debtFreeWhen}}.</strong></p>
      </div>
    </div>
  </aside>

  <section class="main-content">
    <router-outlet></router-outlet>
  </section>

</main>


